In [22]:
import pandas as pd
from pandas import DataFrame, concat

In [23]:
End = DataFrame(columns =['x_e','y_e'])

In [24]:
Num_Goal = 2
Goal = DataFrame()
for i in range(Num_Goal):
    New_Goal = DataFrame(columns =['goal_x'+str(i+1),'goal_y'+str(i+1)])
    Goal = Goal.join(New_Goal)
print(Goal)
data = End.join(Goal)
print(data)

Empty DataFrame
Columns: [goal_x1, goal_y1, goal_x2, goal_y2]
Index: []
Empty DataFrame
Columns: [x_e, y_e, goal_x1, goal_y1, goal_x2, goal_y2]
Index: []

In [17]:
concat([End,data], axis = 1)

Empty DataFrame
Columns: [goal_x1, goal_y1, x_e, y_e, 1, y1, xe, ye]
Index: []

In [36]:
dat1 = pd.DataFrame({'dat1'+str(2): [9,5]})
dat2 = pd.DataFrame({'dat2': [7,6]})

In [37]:
dat1.join(dat2)

   dat12  dat2
0      9     7
1      5     6